body{
    display: flex;
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-size: 16px;
    flex-wrap: nowrap;
    justify-content: flex-start;
    flex-direction: column;
    align-content: stretch;
    flex-wrap: wrap;
    font: 300 16px 'Helvetica Neue', Helvetica;
}
div.container{
    position: absolute;
    display: flex;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}
div.container.columns{
    flex-direction: row;
}
div.container.rows{
    flex-direction: column-reverse;
}
div.panel{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    background-color: #272822;
}

div.container.rows > div#definition.panel{
    border-top: 1px solid #636363;
}
div.container.columns > div#definition.panel{
    border-right: 1px solid #636363;
}

.header {
    border-bottom: 1px solid #4e4e4e;
    color: orange;
    font-family: sans-serif;
    display: flex;
    padding: 0.3em 0.6em;
    -webkit-user-select: none;
    user-select: none;
    background-color: #272822;
    border-radius: inherit;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.ace_editor{
    flex: 1 1 20em;
}

.error_widget {
    border: none;
    padding: 0.5em 1.5em;
    margin: 0.3em;
    white-space: pre-wrap;
    /*font-family: "Helvetica Neue";*/
    text-rendering: optimizeLegibility;
    background-color: hsla(0,60%,47%,1);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.53);
    border-radius: 5px;
    text-shadow: 0px 0px 7px rgb(0, 0, 0);
}

.error_widget_arrow.ace_error {
    border-color: #a42929;
}

.error_widget.ace_warning {
    background-color: #c5b21b;
}

.error_widget_arrow.ace_warning {
    border-color: #aa9917;
}

.marker_error{
    border-bottom: 1px dotted red;
    position: absolute;
    border-radius: 0;
    z-index: 2;
}

.ace_marker-layer .ace_active-line {
    position: absolute;
    z-index: 1;
}

.highlight{
    position: absolute;
    z-index: 2;
    background-color: white;
    opacity: 0.3;
}

svg#visualization{
    flex: 1;
    opacity: 1;
    transition: opacity 250ms ease-in-out;
}

svg.faded{
    opacity: 0.1;
}

g#graph{
    transition: transform 0.25s ease-in-out;
    transform-origin: center;
}

g.node rect{
    rx: 15;
    ry: 15;
    stroke: white;
    stroke-width: 1px;
    transition: width 0.25s linear, height 0.25s linear, stroke 0.1s ease-in-out, stroke-width 0.1s ease-in-out;
    fill: transparent;
}

g.node{
    transition: transform 0.25s linear;
}

g.node:hover rect, g.node:hover polygon{
    stroke: yellow !important;
    stroke-width: 3px !important;
    stroke-dasharray: initial !important;
    cursor: pointer;
}

/* Unknown */
g.node.undefined > rect {
    fill: #afafaf !important;
    stroke: white;
    stroke-width: 3px;
    stroke-dasharray: 5,5;
    opacity: 0.2;
}
g.node.undefined > .label {
    fill: yellow;
}

/* Ambiguous */
g.node.ambiguous > polygon {
    fill: #afafaf !important;
    stroke: white;
    stroke-width: 3px;
    stroke-dasharray: 5,5;
    opacity: 0.2;
}
g.node.ambiguous > .label {
    fill: yellow;
}

g > text{
    text-shadow: 0px 0px 3px rgba(0,0,0,0.4);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    fill: white;
    dominant-baseline: central;
}

/*
.edgePath path {
    stroke-dasharray: 10,3;
    animation: dash 13s linear reverse infinite;
}

@keyframes dash {
    0% {
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dashoffset: 130;
    }
}
*/

.edgePath path {
    stroke: #fff;
    fill: none;
    stroke-width: 1.5px;
}

path.arrow {
    stroke: none;
    fill: white;
}

g.node.Scope rect{
    fill: rgba(255,255,255,0.3);
    stroke: #fff;
    stroke-width: 2px;
    rx: 20;
    ry: 20;
}

tspan.id{
    font-weight: bold;
}